body {
  background: #0f0f23;
  color: #cccccc;
  font-family: "Source Code Pro", monospace;
  font-size: 14pt;
  min-width: 60em;
}

h1 h2, h3, h4, p, ul {
  color: #cbcaca;
  font-family: 'Source Code Pro', monospace;
}

h1, h2 {
  font-family: 'Source Code Pro', monospace;
  font-size: 18pt;
  color: #00cc00;
  font-weight: normal;
  text-shadow: 0 0 2px #00cc00, 0 0 5px #00cc00;
}

.title {
  text-align: center;
}