body {
    background: #0f0f23;
    color: #cccccc;
    font-family: "Source Code Pro", monospace;
    font-size: 14pt;
    min-width: 60em;
    margin: 0;
  }
  
  .rainbow {
    text-align: center;
    text-decoration: underline;
}
.rainbow_text_animated {
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}
  
  h1 h2, h3, h4, p, ul {
    color: #cbcaca;
    font-family: 'Source Code Pro', monospace;
  }
  
  h1, h2 {
    font-family: 'Source Code Pro', monospace;
    font-size: 18pt;
    color: #00cc00;
    font-weight: normal;
    text-shadow: 0 0 2px #00cc00, 0 0 5px #00cc00;
  }
  
  .title {
    text-align: center;
  }
